.admin-main {
  & .admin-container {
    & .admin-btn {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
      & button {
        cursor: pointer;
        font-size: 1.2rem;
        background: transparent;
        border: none;
        border-bottom: 0.1rem solid black;
      }
    }
  }
}
