.advertise-main {
  & .advertise-container {
    height: 10rem;
    background-color: #e0f6d1;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 2rem;
    justify-content: center;
    & .advertise-content {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      gap: 5rem;
      padding: 1rem;
      & .content1 {
        & h2 {
          display: flex;
          gap: 1.5rem;
        }
        & p {
          margin-left: 3rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .advertise-main {
    width: 90%;
    & .advertise-container {
      display: flex;
      flex-direction: column;
      height: auto;
      margin-left: 2rem;
      & .advertise-content{
        & .content1{
          & h2{
            font-size: 1rem !important;
          }
          & p{
            font-size: 1rem !important;
            margin-left: 2.5rem !important;
          }
        }
      }
    }
  }
}
