.advertise-main {
  & .advertise-container {
    height: 15rem;
    background-color: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    & .advertise-content {
      display: flex;
      gap: 5rem;
      padding: 1rem 3rem;
      & .content1 {
        & h2 {
          display: flex;
          gap: 1.5rem;
        }
        & p {
          margin-left: 3rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .advertise-main {
    & .advertise-container {
      & .advertise-content {
        & .content1 {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
