.footer-main {
  & .footer-container {
    display: flex;
    width: auto;
    justify-content: space-evenly;
    margin: 0 2rem;
    & .medicine {
      & h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
      & p {
        line-height: 2;
        color: grey;
      }
    }
    & .links {
      & h4 {
        font-size: 1.2rem;
        color: grey;
        margin-bottom: 1rem;
      }
      & a {
        text-decoration: none;
        list-style: none;
        line-height: 3;
        list-style: none;
        font-size: 1.2rem;
        color: black;
      }
    }
    & .help {
      & h4 {
        font-size: 1.2rem;
        color: grey;
        margin-bottom: 1rem;
      }
      & a {
        text-decoration: none;
        list-style: none;
        line-height: 3;
        list-style: none;
        font-size: 1.2rem;
        color: black;
      }
    }
    & .contact {
      & h4 {
        font-size: 1.2rem;
        color: grey;
      }
      & .contact-btn {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        & button {
          background: transparent;
          border: none;
          border-bottom: 0.001rem black solid;
          cursor: pointer;
          font-size: 1rem;
          font-weight: 300;
        }
        & input {
          border: none;
          border-bottom: 0.001rem black solid;
        }
      }
    }
  }
  hr {
    width: 90%;
    display: inline-block;
    margin: 0 2rem;
  }
  .right-reserved {
    & p {
      margin: 1rem 0 0 2rem;
    }
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .footer-main {
    width: 100%;
    & .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      & .medicine {
        text-align: center;
      }
      & .contact {
        text-align: center;
        & .contact-btn {
          display: flex;
          flex-direction: column;
          & button {
            margin-top: 2rem;
          }
        }
      }
      & .right-reserved {
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-main {
    & .footer-container {
      .contact-btn {
        & button {
          margin-right: 2rem;
        }
      }
    }
    & hr {
      width: 100%;
    }
  }
}
