.footer-main {
  & .footer-container {
    display: flex;
    width: auto;
    justify-content: space-evenly;
    margin: 0 2rem;
    & .medicine {
      & h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
      & p {
        line-height: 2;
        color: grey;
      }
    }
    & .links {
      & h4 {
        font-size: 1.2rem;
        color: grey;
        margin-bottom: 1rem;
      }
      & a {
        text-decoration: none;
        list-style: none;
        line-height: 3;
        list-style: none;
        font-size: 1.2rem;
        color: black;
      }
    }
    & .help {
      & h4 {
        font-size: 1.2rem;
        color: grey;
        margin-bottom: 1rem;
      }
      & a {
        text-decoration: none;
        list-style: none;
        line-height: 3;
        list-style: none;
        font-size: 1.2rem;
        color: black;
      }
    }
    & .contact {
      & h4 {
        font-size: 1.2rem;
        color: grey;
      }
      & .contact-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        gap: 1rem;
        & button {
          background: transparent;
          cursor: pointer;
          font-size: 1rem;
          font-weight: 300;
          border: none;
          margin-bottom: 1rem;
          margin-top: 1rem;
          height: 2rem;
        }
        & input {
          height: 2rem;
          border: none;
          border-bottom: 1px solid black;
        }
      }
    }
  }
  hr {
    width: 90%;
    margin: 0 2rem;
  }
  .right-reserved {
    & p {
      margin: 1rem 0 1rem 2rem;
    }
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .footer-main {
    & .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin: 0 !important;
      & .medicine {
        gap: 0 !important;
        text-align: center;
      }
      & .links {
        text-align: center;
        & a{
          line-height: 2.5rem !important;
        }
      }
      & .help {
        text-align: center;
        & a{
          line-height: 2.5rem !important;
        }
      }
      & .contact {
        text-align: center;
        & .contact-btn {
          display: flex;
          flex-direction: column;
          gap: 0;
          & button {
            padding: 0.5rem;
            background-color: #5BB82F;
            color: white;
          }
          & input {
            padding: 0.5rem;
            border: none;
            border-bottom: 1px solid black;
            text-align: center;
          }
        }
      }

      & .right-reserved {
        text-align: center;
       
      }
    }
    & hr {
      margin: 0 !important;
      width: 100% !important;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-main {
    width: 100%;
    & .footer-container {
      padding: auto;
      & .links {
        & ul {
          & li {
            font-size: 1rem;
          }
        }
      }
      & .help {
        width: 20%;
        & ul {
          & li {
            font-size: 1rem;
          }
        }
      }
      & .contact {
        & h4 {
          margin-left: 1rem;
        }
        & .contact-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 1rem;
          & button {
            font-size: 0.8rem;
            margin-top: 1rem;
          }
        }
      }
    }
    & hr {
      width: auto;
    }
  }
}
