/* Navbar.css */
.navbar-main {
  & .navbar-container {
    display: flex;
    height: 6rem;
    justify-content: space-between;
    gap: 3rem;
    & .logo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      & h2 {
        font-size: 2rem;
      }
      & img {
        height: 6rem;
        width: 7rem;
        margin-left: 1rem;
      }
    }
    & nav {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 2rem;
      & .navbar-list {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 1.2rem;
        & ul {
          & li {
            display: inline-block;
            margin-right: 2rem;
            border: none;
          }
        }
        & a {
          text-decoration: none;
          color: black;
        }
        & a:hover {
          background-color: cadetblue;
          color: white;
        }
      }
      & .hamburger-icon {
        display: none;
        cursor: pointer;
        font-size: 2rem;
      }
    }
    & .nav-right {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      & img {
        height: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar-main {
    & .navbar-container {
      flex-direction: column;
      & nav {
        width: 100%;
        & .navbar-list {
          flex-direction: column;
          display: none;
          &.active {
            display: flex;
          }
        }
        & .hamburger-icon {
          display: block;
        }
      }
    }
  }
}
