/* Navbar.css */
.navbar-main {
  & .navbar-container {
    display: flex;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    & .logo {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      & h2 {
        font-size: 2rem;
      }
      & img {
        height: 6rem;
        width: 7rem;
      }
    }
    & nav {
      display: flex;
      align-items: center;
      justify-content: center;
      & .navbar-list {
        display: flex;
        gap: 2rem;
        align-items: center;
        list-style: none;
        font-size: 1.2rem;
        & li {
          display: inline-block;
        }
        & a {
          text-decoration: none;
          color: black;
        }
        & a:hover {
          background-color: #5bb82f;
          color: white;
          padding: 0.5rem;
          border-radius: 0.3rem;
        }
      }
      & .hamburger-icon {
        display: none;
        cursor: pointer;
        font-size: 2rem;
      }
    }
    & .nav-right {
      display: flex;
      align-items: center;
      gap: 1rem;
      & img {
        height: 2rem;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar-main {
    & .navbar-container {
      width: 100%;
      display: flex;
      & .logo {
        width: 100%;
        & h2 {
          display: none;
        }
      }
      & nav {
        width: 100%;
        display: flex;
        & .navbar-list {
          flex-direction: column;
          display: none;
          width: 100%;
          &.active {
            display: flex;
          }
          & li {
            width: 100%;
            text-align: center;
          }
        }
        & .hamburger-icon {
          display: block;
        }
      }
      & .nav-right {
        width: 100%;
        display: flex;
        justify-content: space-around;
        & img {
          margin-right: 0;
        }
      }
    }
  }
}
