.cart-main {
  & .cart-container {
    & .cart-header {
      background-image: url("./../assets/shop-header.png");
      height: 12rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & h2 {
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
      }
      & img{
        height: 5rem;
        width: 5rem;
        
      }
      & p {
        font-size: 2rem;
      }
    }
    & .cart-overview {
      display: flex;
      justify-content: space-around;
      & .cart-review {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 5rem;
        background-color: #e0f6d1;
        gap: 2rem;
        width: 50%;
        margin: 2rem;
        & h4 {
          font-size: 1.5rem;
        }
      }
      & .cart-total {
        margin: 2rem;
        height: 18rem;
        width: 20rem;
        background-color: #e0f6d1;
        & .total-header {
          & h2 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 2rem;
          }
        }
        & .total-content {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 3rem;
          & h4 {
            font-size: 1.8rem;
            line-height: 2;
          }
          & p {
            font-size: 1.4rem;
            line-height: 2;
          }
        }
        & .checkout-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 2rem;
          & a {
            & button {
              background: transparent;
              font-size: 1.2rem;
              cursor: pointer;
              text-decoration: none;
              list-style: none;
              color: black;
              height: 3rem;
              width: 8rem;
              border-radius: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .cart-main {
    & .cart-container {
      & .cart-overview {
        display: flex;
        flex-direction: column;
        & .cart-review {
          width: 85%;
          gap: 0.5rem !important;
          & h4 {
            font-size: 1rem !important;
          }
        }
        & .cart-total {
          width: 85%;
          & h4 {
            font-size: 1rem !important;
          }
        }
      }
    }
  }
}
