.category-main {
  & .category-container {
    & .category-header {
      line-height: 1.5;
      & img {
        height: 5rem;
        width: 5rem;
      }
      & h1 {
        font-size: 2rem;
        color: grey;
        text-align: center;
      }
      & p {
        font-size: 1.5rem;
        text-align: center;
      }
    }
    & .category-cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      padding: 2rem 3rem;
      gap: 1rem;
      & a {
        text-decoration: none;
        color: black;
        & .card-one {
          height: 100%;
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-radius: 0.4rem;
          align-items: center;
          & img {
            height: 15rem;
            width: 80%;
            margin: 1rem;
          }
          & h2 {
            font-size: 1.3rem;
            text-align: center;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .category-main {
    & .category-container {
      & .category-header{
        & h1 {
          text-align: center;
          font-size: 1.5rem;
        }
        & p{
          font-size: 1rem;
        }
      }
      & .category-cards {
        padding: 0 !important;
        & .card-one {
          width: 90% !important;
          & img{
            height:40% !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .category-main {
    & .category-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      & h1 {
        font-size: 1.5rem !important;
      }
      & p {
        font-size: 1rem !important;
      }
    }
    & .category-cards {
      flex: 1 1 calc(100% / 4 - 16px);
    }
  }
}
