body {
  counter-reset: h6-counter;
}

.category-main {
  padding: 20px;
  & .category-container {
    max-width: 1200px;
    margin: auto;
    & .category-header {
      line-height: 1.5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;

      & img {
        height: 5rem;
        width: 5rem;
      }
      & h6 {
        font-size: 2rem;
        color: grey;
        display: block;
        font-weight: bold;
        unicode-bidi: isolate;
        text-align: center;
        margin-block-start: 0 !important;
        margin-block-end: 0 !important;
        margin-inline-start: 0 !important;
        margin-inline-end: 0 !important;
      }
      & p {
        font-size: 1.5rem;
        text-align: center;
      }
    }
    & .category-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding: 2rem 3rem;
      & a {
        text-decoration: none;
        color: black;
        & .card-one {
          width: 200px;
          text-align: center;
          padding: 10px;
          height: 16rem;
          border: 1px solid #ddd;
          border-radius: 10px;
          transition: transform 0.2s;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          & img {
            max-width: 100%;
            height: 10rem;
            border-radius: 10px;
            margin: 1rem;
          }
          & h2 {
            margin-top: 10px;
            font-size: 1.3rem;
            text-align: center;
          }
          & button {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .category-main {
    & .category-container {
      & .category-header {
        & h6 {
          text-align: center;
          font-size: 1.5rem;
        }
        & p {
          font-size: 1rem;
        }
      }
      & .category-cards {
        padding: 0 !important;
        flex-direction: column;
        
        .card-one img {
          display: none;
        }
        .card-one h2 {
          display: none;
        }
        .card-one button {
          display: block;
          margin: 10px auto 0;
          padding: 10px 20px;
          background-color: #007bff;
          color: black;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .category-main {
    & .category-container {
      & .category-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        & h6 {
          font-size: 1.5rem !important;
        }
        & p {
          font-size: 1rem !important;
        }
      }
      & .category-cards {
        flex: 1 1 calc(100% / 4 - 16px);
      }
    }
  }
}

@media screen and (max-width: 320px) {
  
}
