.profile-main {
  & .profile-container {
    & .profile-header {
      background-image: url("./../assets/shop-header.png");
      height: 12rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & h2 {
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
      }
      & img {
        height: 5rem;
        width: 5rem;
      }
      & p {
        font-size: 2rem;
      }
    }
    & .profile-card {
      display: flex;
      justify-content: space-evenly;
      margin-top: 1rem;
      margin-bottom: 1rem;
      & .profile-sidebar {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: #e0f6d1;
        height: 28rem;
        padding: 1rem 2rem 2rem 2rem;
        border-radius: 0.5rem;
        & .profile-info {
          line-height: 1.5;
        }
        & .sidebar-feature {
          line-height: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          & h2 {
            font-size: 1.2rem;
          }
          & .sidebar-order {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            & ul {
              margin-left: 1rem;
              & li {
                font-size: 1rem;
              }
            }
          }
        }
      }
      & .profile-address {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: #e0f6d1;
        padding: 1rem 2rem 2rem 2rem;
        border-radius: 0.5rem;
        & .user-name {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;
          & input {
            width: 60%;
            height: 1.5rem;
          }
        }
        & .mobile-number {
          display: flex;
          gap: 1rem;
          margin-bottom: 1rem;
          & .number-one {
            display: flex;
            flex-direction: column;
          }
          & .number-two {
            display: flex;
            flex-direction: column;
          }
          & input {
            height: 1.5rem;
          }
        }
        & .user-address {
          display: flex;
          gap: 1rem;
          margin-bottom: 1rem;
          & .address-one {
            display: flex;
            flex-direction: column;
          }
          & .address-two {
            display: flex;
            flex-direction: column;
          }
          & input {
            height: 1.5rem;
          }
        }
        & .user-landmark {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;
          & input {
            width: 60%;
            height: 1.5rem;
          }
        }
        & .pin-city {
          display: flex;
          gap: 1rem;
          margin-bottom: 1rem;
          & .pin {
            display: flex;
            flex-direction: column;
          }
          & .city {
            display: flex;
            flex-direction: column;
          }
          & input {
            width: 100%;
            height: 1.5rem;
          }
        }
        & .state-tag {
          display: flex;
          gap: 1rem;
          margin-bottom: 1rem;
          & .state {
            display: flex;
            flex-direction: column;
          }
          & .tag {
            display: flex;
            align-items: center;
            gap: 1rem;
            & button {
              padding: 0.5rem;
              font-size: 0.8rem;
              gap: 1rem;
              border-radius: 0.5rem;
              cursor: pointer;
              background: transparent;
              border: 0.1rem solid black;
              color: black;
              margin: 0;
            }
          }
          & input {
            height: 1.5rem;
          }
        }
        & .default-address {
          display: flex;
          gap: 1rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
        & button {
          background-color: #5bb82f;
          border: none;
          font-size: 1.2rem;
          margin-top: 1rem;
          color: white;
          padding: 0.5rem;
          border-radius: 0.4rem;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .profile-main {
    & .profile-container {
      & .profile-card {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        & .profile-address {
          & .mobile-number {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }
          & .user-address {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }
          & .pin-city {
            margin-top: 1rem;
            margin-bottom: 1rem;
          }
          & .state-tag {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            margin-bottom: 1rem;
            border-top: 1px solid transparent;
          }
        }
      }
    }
  }
}
