.shop-main {
  & .shop-container {
    & .shop-header {
      background-image: url("./../assets/shop-header.png");
      height: 12rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & h2 {
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
      }
      & img {
        height: 5rem;
        width: 5rem;
      }
      & p {
        font-size: 2rem;
      }
    }
    & .shop-nav {
      height: 7rem;
      background-color: #e0f6d1;
      display: flex;
      justify-content: space-around;

      & .nav-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        & p {
          font-size: 1.2rem;
        }
        & hr {
          height: 2rem;
        }
      }

      & .shop-nav-right {
        display: flex;
        align-items: center;
        justify-content: center;
        .nav-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          & p {
            font-size: 1.2rem;
          }
          & input {
            width: 10%;
            height: 1.5rem;
            border: none;
          }
          & select {
            width: 30%;
            height: 2rem;
            border: none;
            border-radius: 0.3rem;
          }
        }
      }
    }
    & .shop-cards {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin-top: 2rem;
      .card-one {
        cursor: pointer;
        height: 100%;
        width: 20%;
        display: flex;
        background-color: #c2eda8;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0.4rem;
        align-items: center;
        & img {
          height: 15rem;
          width: 80%;
          margin: 1rem;
        }
        & h2 {
          font-size: 1rem;
          padding: 0.5rem;
        }
        & h3 {
          font-size: 1.4rem;
          padding: 0.5rem;
        }
        & h4 {
          font-size: 1rem;
          padding: 0.5rem;
        }
        & button {
          background: transparent;
          border: none;
          font-size: 1rem;
          border-radius: 0.3rem;
          cursor: pointer;
          background-color: #5BB82F;
          height: 3rem;
          width: 8rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
          color: white;
        }
      }
    }
    & .shop-footer {
      height: 5rem;
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      & button {
        background: transparent;
        border: none;
        font-size: 1.2rem;
        height: 2rem;
        width: 3%;
        background-color: #e0f6d1;
        cursor: pointer;
        border-radius: 0.4rem;
      }
      & .next {
        width: 5%;
      }
      button:hover {
        color: white;
        background-color: #5bb82f;
      }
    }
  }
}
select:focus{
  border: none;
  outline: none;
}

input:focus{
  border: none;
  outline: none;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .shop-main {
    & .shop-container {
      & .shop-nav {
        flex-direction: column;
        padding: 1rem;
        & .shop-nav-left {
          & .nav-icons {
            flex-direction: column;
          }
        }
        & .shop-nav-right {
          display: flex;
        }
      }
      & .shop-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & .card-one {
          width: 70%;
          height: 28rem;
        }
      }
      & .shop-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        & button {
          width: 2rem;
          aspect-ratio: 1;
        }
        & .next {
          width: 4rem;
          aspect-ratio: 1;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .shop-main {
    & .shop-container {
      & .shop-header {
        & img {
          width: 100% !important;
        }
      }
      & .shop-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        & button {
          width: 3rem;
          aspect-ratio: 1;
        }
        & .next {
          width: 4rem;
          aspect-ratio: 1;
        }
      }
    }
  }
}
