.singleproduct-main {
  & .singleproduct-container {
    & .singleproduct-header {
      display: flex;
      justify-content: flex-start;
      height: 4rem;
      background-color: #e0f6d1;
      align-items: center;
      gap: 1rem;
      & hr {
        height: 3rem;
        margin-left: 1rem;
      }
      & p{
        margin-left: 1rem;
      }
    }
    & .product-info {
      display: flex;
      align-items: self-start;
      justify-content: space-around;
      margin-top: 1rem;
      & .product-info-left {
        height: 25rem;
        display: flex;
        background-color: #c2eda8;
        flex-direction: column;
        border-radius: 0.4rem;
        align-items: center;
        & .info-left-container {
          display: flex;
          background-color: #c2eda8;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-repeat: no-repeat;
          height: 25rem;
          width: 50%;
          aspect-ratio: 1;
          & img {
            height: 15rem;
          }
        }
      }
      & .product-info-right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        & .info-right-header {
          line-height: 1.5;

          & h2 {
            font-size: 2rem;
          }
          & h3 {
            font-size: 1.5rem;
          }
        }
        & .product-review {
          display: flex;
          gap: 1rem;
        }
        & .product-description {
          margin-bottom: 1rem;
          width: 95% !important;
          padding: 1rem 1rem 0.5rem 0;
          text-align: justify;
          & h5{
            font-size: 1rem;
          }
          & p {
            line-height: 1.5;
          }
        }
        & .product-btn {
          display: flex;
          gap: 1rem;
          & .counter-container {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
            width: 3rem;
            & .counter-button {
              background: none;
              border: none;
              font-size: 24px;
              cursor: pointer;
              outline: none;
            }
            & .disabled {
              cursor: not-allowed;
            }

            & .counter-display {
              font-size: 24px;
              margin: 0 15px;
            }
          }
          & .cart-btn {
            & button {
              background: transparent;
              border: 0.1rem solid black;
              border-radius: 0.5rem;
              height: 3rem;
              padding: 1rem;
              font-size: 1rem;
              cursor: pointer;
            }
          }
          & .compare-btn {
            & button {
              background: transparent;
              border: 0.1rem solid black;
              border-radius: 0.5rem;
              height: 3rem;
              padding: 1rem;
              font-size: 1rem;
              cursor: pointer;
            }
          }
        }
        & hr {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
    & .product-header {
      margin-top: 3rem;
      & h2 {
        font-size: 2rem;
        text-align: center;
      }
    }
    & .singleproduct-cards {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-top: 2rem;
      & .card-one {
        height: 20rem;
        width: 15%;
        display: flex;
        background-color: rgb(84, 243, 84);
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        & img {
          height: 13rem;
          width: 100%;
        }
        & h2 {
          font-size: 2rem;
        }
        & h3 {
          font-size: 1.5rem;
        }
        & h4 {
          font-size: 1rem;
        }
      }
    }
    & .show-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem;
      & a {
        & button {
          background: transparent;
          border: 1px solid #5bb82f;
          font-size: 1rem;
          color: #5bb82f;
          cursor: pointer;
          padding: 1rem;
          border-radius: 0.5rem;
        }
        & button:hover{
          background-color: #5bb82f;
          color: white;
        }
      }
    }
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .singleproduct-main {
    & .singleproduct-container {
      & .product-info {
        display: flex;
        flex-direction: column;
        & .product-info-left {
          width: 75%;
          height: 16rem !important;
          margin-left: 2.4rem !important;
          & .info-left-container{
            & img{
              width: 100%;
            }
          }
          & .product-description {
            width: 90%;
          }
        }
        & .product-info-right {
          width: 90%;
          margin-left: 1rem !important;
          & .info-right-header{
            & h2{
              text-align: center;
              font-size: 1.4rem;
            }
            & h3{
              text-align: center;
              font-size: 1.4rem;
            }
          }
          & .product-description{
            & h5{
              text-align: center;
              font-size: 1.4rem;
            }
            & p{
              text-align: justify;
              font-size: 1.4rem;
            }
          }
          & .product-review{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
          }
          & .product-description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            & h5{
              margin-left: 0.8rem;
              width: 100%;
              font-size: 1.5rem !important;
            }
            & p {
              margin-left: 0.7rem;
              width: 100%;
              font-size: 1rem !important;
              padding-right: 1rem;
            }
          }
          & .product-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            & .counter-container{
              display: flex;
              font-size: 0.8rem !important;
              margin-left: 1rem !important;
              height: 1.75rem !important;
              & .counter-display{
                font-size: 0.8rem;
              }
              & .counter-button{
                font-size: 0.8rem;
              }
            }
            & .cart-btn{
              & button{
                width: 5rem;
                font-size: 0.8rem !important;
                padding: 0 !important;
              }
            }
            & .compare-btn{
              & button{
                width: 5rem;
                font-size: 0.8rem !important;
                padding: 0 !important;
              }
            }
          }
        }
      }
      & .singleproduct-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & .card-one {
          width: 70%;
        }
      }
      & .product-btn {
        display: flex;
        width: 100% !important;
        & .cart-btn {
          & button {
            font-size: 0.8rem !important;
            height: 3rem;
            width: 7rem;
          }
        }
        & .compare-btn {
          & button {
            font-size: 0.8rem !important;
            height: 3rem;
            width: 7rem;
          }
        }
        & .show-button {
          & button {
            height: 3rem;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .singleproduct-main{
    & .singleproduct-container{
      & .product-info {
        display: flex;
        gap: 2rem;
        & .product-info-left{
          height: 38rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}