.topcontainer-main {
  & .topcontainer-container {
    background-image: url("./../assets//home-header.png");
    background-size: cover;
    height: 35rem;

    & .header-box {
      width: 30%;
      background-color: white;
      float: right;
      margin: 5rem;
      padding: 3rem;
      border-radius: 0.5rem;
      & .heading-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        & h2 {
          font-size: 3rem;
          color: #5bb82f;
        }
        & h4 {
          font-size: 1.2rem;
        }
        & p {
          font-size: 1rem;
        }
        & .buy-now {
          margin-top: 1rem;
          & input {
            height: 2rem;
            padding: 0.5rem;
            width: 12rem;
            border: none;
            color: black;
            font-size: 1rem;
            border: 1px solid #5bb82f;
            & ul {
              list-style: none;
              background: transparent;
              
              & li {
                font-size: 1rem;
                padding: 0.5rem 0;
                background-color: transparent;
                cursor: pointer;
                margin-top: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
input:focus {
  border: none;
  outline: none;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .topcontainer-main {
    & .topcontainer-container {
      & .header-box {
        float: none;
        margin: 0;
        width: fit-content;
      }
    }
  }
}
