.topcontainer-main {
  & .topcontainer-container {
    background-image: url("./../assets//home-header.png");
    background-size: cover;
    height: 35rem;

    & .header-box {
      width: 30%;
      background-color: white;
      float: right;
      margin: 5rem;
      padding: 3rem;
      border-radius: 0.5rem;
      & .heading-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        & h2 {
          font-size: 3rem;
          color: #5BB82F;
        }
        & h4 {
          font-size: 1.2rem;
        }
        & p {
          font-size: 1rem;
        }
        & button {
          background: transparent;
          height: 3rem;
          background-color: #5BB82F;
          border: none;
          width: 35%;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .topcontainer-main {
    & .topcontainer-container {
      & .header-box {
        float: none;
        margin: 0;
        width: fit-content;
      }
    }
  }
}
